/* BlackjackCard.css */

.card-svg {
    stroke-width: 6px;
    stroke-dashoffset: -220;
    stroke-opacity: .5;
    stroke: rgb(255, 255, 255);
    fill: rgb(0, 0, 0);
    transition: all .5s ease;
    cursor: pointer;
}

.card-svg:hover {
    stroke-width: 1px;
    stroke: rgb(0, 255, 13);
    stroke-dashoffset: 0;
    transform: scale(1.01);
    fill: rgb(17, 17, 17);
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.5);
    stroke-opacity: 1;
}
