

.left-nav-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 100vh;
    transition: background 1s ease;
    box-shadow: 5px 0 10px 5px  rgba(0, 0, 0, 0.136);
    background: linear-gradient(180deg, rgb(208, 208, 208) 90%, rgb(185, 185, 185));
}
.links:hover{
    fill: black;
}
#logo {
    width: 46.37px;
}
.left-nav-btn.active {
  /* Your active button styling */
  background-color: #f0f0f0;
  /* Add other styles to highlight the active button */
}

.links-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
}
.links-middle {
    padding: 200px;
}
.links {
    margin-bottom: 17.71px;
}

.left-nav-links-img {
    width: 46.37px;
}
/* Styling for a sophisticated button */

.left-nav-btn {
    /* Basic appearance */
    background: rgb(150, 150, 150);
    color: rgb(220, 220, 220);
    padding: 10px;
    display: flex;
    flex: 1;
    width: 60px;
    height: 30px;
    border: 2px solid rgba(0, 123, 255, 0.5);
    box-shadow: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 17.71px;
    border-radius: 3px;
  
    /* Typography */
    font-family: 'Rubik Mono One', monospace;
    font-size: 9px;
  
    /* Transition effects */
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
  }
  
  /* Pseudo-element for button hover effect */
    .left-nav-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(208, 208, 208, .2);
    transition: all 0.45s ease;
    border-radius: 50%;
    z-index: 0;
    transform: translate(-50%, -50%) scale(0);
  }
  
  /* Hover effect for the pseudo-element */
  .left-nav-btn:hover::before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  /* Hover effect for the button */
  .left-nav-btn:hover {
    color: rgb(255, 255, 255);
    transform: translateY(-2px) scale(1.05);
    box-shadow: 1px 2px 5px 1px rgb(0, 123, 255);
    border: none;
  }
  .left-nav-btn:active::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    animation: spark 0.7s ease-out;
    border-radius: 50%;
    pointer-events: none;
  }
  .left-nav-btn:active{
    box-shadow: 1px 2px 3px 1px rgb(0, 123, 255);
  }

  @keyframes spark {
    0% {
      transform: scale(5);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

#projects {
    font-size: 8.3px;
}
@media screen and (max-width: 425px) {
    .left-nav-container {
        width: 50px;
        height: 100vh;
        background:  rgb(208, 208, 208);
    }
    #logo {
        width: 40px;
    }

    .links {
        margin-bottom: 14.71px;
    }
    
    .left-nav-links-img {
        width: 30px;
    }

      
    .globe-container {
        display: none;
    }

    .left-nav-btn {
        width: 45px;
        height: 30px;
        padding: 10px;
        border: none;
        font-size: 7px;
        letter-spacing: -0.5px;
        font-weight: 700;
        background: rgb(180, 180, 180);
        color: rgb(250, 250, 250);
    }
    #projects {
        font-size: 6.5px;
        letter-spacing: -0.1px;
    }

    .links-middle {
      padding: 100px;
    }
}
