

.left-nav-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 100vh;
    transition: background 1s ease;
    box-shadow: 5px 0 10px 5px  rgba(0, 0, 0, 0.136);
    background: linear-gradient(180deg, rgb(208, 208, 208) 95%, rgb(185, 185, 185));
}
.links:hover{
    fill: black;
}
#logo {
    width: 46.37px;
}
.left-nav-btn.active {
  /* Your active button styling */
  background-color: #f0f0f0;
  /* Add other styles to highlight the active button */
}

.links-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
}
.links-middle {
    padding: 200px;
}
.links {
    margin-bottom: 14.71px;
}

.left-nav-links-img {
    width: 40px;
    border-radius: 50%;
}
.left-nav-links-img:hover {
  background: rgba(255, 255, 255, 0.75);
}
#mail {
  border-radius: 10px 0 10px 0;
}


/* Styling for a sophisticated button */

.left-nav-btn {
    /* Basic appearance */
    background: transparent;
    color: rgb(230, 230, 230);
    padding: 10px;
    display: flex;
    flex: 1;
    width: 60px;
    height: 60px;
    border: none;
    box-shadow: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 14.71px;
    border-radius: 3px;
  
    /* Typography */
    font-family:  monospace;
    font-size: 14px;
    font-weight: 700;
  
    /* Transition effects */
    transition: background .1s ease-in;
    position: relative;
    overflow: hidden;
  }
  
  /* Pseudo-element for button hover effect */
    .left-nav-btn::before {
    content: '';
    background: rgba(208, 208, 208, .2);
    transition: all 0.45s ease;
    border-radius: 50%;
    z-index: 0;
  }
  
  /* Hover effect for the pseudo-element */

  
  /* Hover effect for the button */
  .left-nav-btn:hover {
    background: rgba(255, 255, 255, 0.75);
  }
  .left-nav-btn:active::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    animation: spark 0.7s ease-out;
    border-radius: 50%;
    pointer-events: none;
  }
  .left-nav-btn:active{
  }

  @keyframes spark {
    0% {
      transform: scale(5);
      opacity: 1;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }


@media screen and (max-width: 425px) {
    .left-nav-container {
        width: 50px;
        height: 100vh;
        background:  rgb(208, 208, 208);
    }
    #logo {
        width: 40px;
    }

    .links {
        margin-bottom: 14.71px;
    }
    
    .left-nav-links-img {
        width: 30px;
    }
    .left-nav-links-img-middle {
      width: 30px;
      border-radius: none ;
  }

      
    .globe-container {
        display: none;
    }

    .left-nav-btn {
        width: 40px;
        height: 40px;
        border-radius: 0;
        border: none;
        font-size: 11px;
        font-weight: 700;
    }


    .links-middle {
      padding: 100px;
    }
    #contact {
      font-size: 11px;
      letter-spacing: -0.5px;
    }
}

/* Updated Tooltip styles */
.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute; /* Positioning relative to the document body */
  z-index: 1000; /* Ensure it's above other elements */
  /* Adjust top, left, or right properties to position the tooltips */
}
