.project-details-view {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
    overflow: hidden;
}
.project-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project-details-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.project-details h2 {
    margin-top: 0;
    color: #333;
    font-size: 28px;
    margin-bottom: 15px;
}

.project-details p {
    color: #444;
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 20px;
}

.project-description h3,
.tech-stack h3 {
    color: #007bff;
    font-size: 22px;
    margin-bottom: 10px;
}

.project-description p,
.tech-stack p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}

.website-link {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.website-link:hover {
    background-color: #0056b3;
}

.close-btn {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.close-btn:hover {
    background-color: #e60000;
}
/* Media query for mobile view */
@media screen and (max-width: 425px) {
    .project-details-view {
        max-width: 90%;
        overflow: hidden;
        margin: 10px auto;
        padding: 15px;
    }

    .project-details h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .project-details p {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .project-description h3,
    .tech-stack h3 {
        font-size: 20px;
        margin-bottom: 8px;
    }

    .project-description p,
    .tech-stack p {
        font-size: 14px;
        line-height: 1.4;
    }

    .website-link,
    .close-btn {
        font-size: 16px;
        padding: 8px 16px;
    }
}